<div class="container-layout">
    <div class="flex flex-row">
        <div class="menu w-[100px]">
            <app-menu-lateral></app-menu-lateral>
        </div>
        <div class="container-estrutura w-full">
            <div class="cabecalho h-[30px]">
                <app-cabecalho></app-cabecalho>
            </div>
            <div class="conteudo">
                
            </div>
            <div class="rodape">
                <app-rodape></app-rodape>
            </div>
        </div>
    </div>
</div>